<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport"
content="width=device-width, initial-scale=1.0">

<title>Admin Login</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="main-container">

<div class="form-card">

<h1>🛡 Admin Login</h1>

<p class="subtitle">

Administrator Access Only

</p>

<form action="/admin-login" method="POST">

<div class="input-group">

    <span class="input-icon">📧</span>

    <input
        type="email"
        name="email"
        id="email"
        placeholder="Email Address"
        required>

</div>

<div class="input-group">

    <span class="input-icon">🔒</span>

    <input
        type="password"
        name="password"
        id="password"
        placeholder="Password"
        required>

    <span id="togglePassword" class="eye">

        👁️

    </span>

</div>

<button type="submit">

Admin Login

</button>

</form>

<a href="/" class="link">

← Back to Home

</a>

</div>

</div>

<script>

const password = document.getElementById("password");
const toggle = document.getElementById("togglePassword");

toggle.onclick = function () {

    if (password.type === "password") {

        password.type = "text";
        toggle.innerHTML = "🙈";

    } else {

        password.type = "password";
        toggle.innerHTML = "👁️";

    }

}

</script>

</body>

</html>