<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Admin Dashboard</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">

<link rel="stylesheet"
href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">

</head>

<body>

<div class="nearby-page">

    <div class="top-bar">

        <h1>🛡️ Admin Dashboard</h1>

        <a href="/logout" class="top-btn logout-btn">

            🚪 Logout

        </a>

    </div>

    <!-- Statistics -->

    <div class="stats-container">

        <div class="stat-card">

            <h3>👥 Total Users</h3>

            <h2>{{ total_users }}</h2>

        </div>

        <div class="stat-card">

            <h3>📍 Total Locations</h3>

            <h2>{{ total_locations }}</h2>

        </div>

    </div>

    <!-- Latest -->

    <div class="location-box">

        <h2>📍 Latest User Activity</h2>

        {% if location %}

        <p><b>👤 Name :</b> {{ location[0] }}</p>

        <p><b>📧 Email :</b> {{ location[1] }}</p>

        <p><b>📍 Latitude :</b> {{ location[2] }}</p>

        <p><b>📍 Longitude :</b> {{ location[3] }}</p>

        <p><b>🕒 Time :</b> {{ location[4] }}</p>

        {% else %}

        <p>No location available.</p>

        {% endif %}

    </div>

    <div class="dashboard-grid">

        <!-- LEFT -->

        <div class="history-card">

    <h2>📋 Live Users</h2>

    <div id="users-container"></div>

</div>

        <!-- RIGHT -->

        <div class="map-card">

            <div id="map"></div>

        </div>

    </div>

</div>

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

<script src="{{ url_for('static', filename='js/admin.js') }}"></script>

</body>

</html>