<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Get Nearby Services</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="main-container">

    <div class="home-card">

        <h1>🌍 Get Nearby Services</h1>

        <p class="subtitle">
    Find nearby <b>Hospitals</b>, <b>Restaurants</b>,
    <b>shopping mall</b>, <b>Pharmacies</b> and
    <b>Petrol Pumps</b> instantly using your live location.
</p>

        <div class="section-card">


    

    <div class="btn-group">

        <a href="/register" class="btn">
            📝 Register
        </a>

        <a href="/login" class="btn">
            🔐 Login
        </a>
        

    </div>
    <p class="section-text">
        Register a new account or login to
        discover nearby services.
    </p>

</div>

        <h2>🛡 Admin</h2>

        <a href="/admin-login" class="btn admin-btn">

           Admin Login

        </a>
        <div class="footer">

    © 2026 Get Nearby Services

    <br>

    Flask • MySQL • Geoapify • Leaflet

</div>

<div class="features">

    <span>📍 Live Location</span>

    <span>🗺 Google Maps Navigation</span>

    <span>⚡ Fast Nearby Search</span>

</div>

    </div>
    

</div>

</body>

</html>